<!-- views/schedule.ejs -->
<html>
  <head>
    <title>Grafik</title>
    <link rel="stylesheet" type="text/css" href="/css/schedule.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <p>Welcome to workers schedule, <%= username %>!</p>

      <a href="/logout">Logout</a>
    </div>

    <form method="POST" action="/grafik/submit">
      <h2>Submit Your Working Hours</h2>
      <div>
        <label for="dayOfWeek">Day of Week:</label>
        <select name="dayOfWeek" id="dayOfWeek">
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
        </select>
      </div>
      <div>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" />
      </div>
      <div>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" />
      </div>
      <button type="submit">Submit</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
    <script type="text/javascript">
      alert('<%= error %>');
    </script>
    <% } %>

    <table class="schedule-table">
      <tr>
        <th>Day of Week</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Worker name</th>
      </tr>
      <% for(let i = 0; i < schedule.length; i++) { %>
      <tr>
        <td><%= schedule[i].dayOfWeek %></td>
        <td><%= schedule[i].startTime %></td>
        <td><%= schedule[i].endTime %></td>
        <td><%= schedule[i].username %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
