<!-- views/schedule.ejs -->
<html>
  <head>
    <title>Grafik</title>
    <link rel="stylesheet" type="text/css" href="/css/schedule.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <p>Welcome to workers schedule, <%= username %>!</p>

      <a href="/logout">Logout</a>
    </div>

    <form method="POST" action="/grafik/submit">
      <h2>Submit Your Working Hours</h2>
      <div>
        <label for="dayOfWeek">Day of Week:</label>
        <select name="dayOfWeek" id="dayOfWeek">
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
        </select>
      </div>
      <div>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" />
      </div>
      <div>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" />
      </div>
      <button type="submit">Submit</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
    <script type="text/javascript">
      alert('<%= error %>');
    </script>
    <% } %>

    <table class="schedule-table">
      <tr>
        <th>Day of Week</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Worker name</th>
      </tr>
      <% for(let i = 0; i < schedule.length; i++) { %>
      <tr>
        <td><%= schedule[i].dayOfWeek %></td>
        <td><%= schedule[i].startTime %></td>
        <td><%= schedule[i].endTime %></td>
        <td>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#userModal<%=i%>"
          >
            <%= schedule[i].username %>
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="userModal<%=i%>"
            tabindex="-1"
            role="dialog"
            aria-labelledby="userModalLabel<%=i%>"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="userModalLabel<%=i%>">
                    <%= schedule[i].username %>'s Details
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Name: <%= schedule[i].name %></p>
                  <p>Surname: <%= schedule[i].surname %></p>
                  <p>Email: <%= schedule[i].email %></p>
                  <p>Phone Number: <%= schedule[i].phone_number %></p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% } %>
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
